.main-background {
  width: 100%;
  height: 800px;
  /* background-image : url(../img/shoes.jpg), url(person.jpg); 이미지 두개 겹칠 때 */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(shoes.jpg);
  /* px, % 가능함, cover 는 배경으로 꽉채워주세요 뜻 (그림이 잘려도 꽉채워란뜻)
  contain은 이미지가 잘리지 않게 (대신 여백이 남음)*/
  background-size: cover;
  background-repeat: no-repeat;
  /* size를 %로 줬을 때, 여러 장이 나와보임. 반복되지 않게 쓰는 속성 */
  background-position: center;
  /* 웹사이트가 스크롤될 때 배경이 신기하게 동작하게 만들고 싶으면 */
  /* background-attachment: fixed; */
  /* 보정/ 안에 글씨가 있으면 글씨에도 필터적용됨 */
  filter: brightness(70%);
  padding: 1px;
  position: relative;
}
.main-title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;

  /* margin collapse effect 버그있음 
  분명 글씨에다가 마진탑 준건데 이미지 자체에다가 마진탑이 걸려버림
  main-background 와main-title 박스가 지금 맨 위쪽 테두리가 겹침/이럴 경우 마진도 합쳐짐
  (내부에서 만나든 외부에서 만나든.. ) 
  ※1. 마진을 하나로 합쳐주고
    2. 혹여나 둘 다 마진이 있으면 둘 중에 더 큰 마진을 하나만 적용하게 됨
    => 두 박스의 테두리가 겹치지 않도록 해주면 원하는 마진을 각자 줄 수 있음
      여기서는 main-background에다가  padding: 1px;주는 것으로 해결  */
  margin-top: 200px;
}

.main-content {
  color: white;
  font-size: 20px;
  text-align: center;
}

.main-button {
  /* position 부여하면 좌표이동되고, 공중에 뜨는 것처럼 됨
  position : static; 기준x (좌표적용 불가) 
  position : relative;  기준이 내 원래 위치
  position : absolute;  기준이 내 부모 ( relative를 가진 부모 )
  position : fixed; 기준이 브라우저 창 (viewport) */
  position: absolute;
  bottom: 300px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  padding: 15px;
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  z-index: 10;
}

.explain-box {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #eee;
  position: relative;
  top: -200px;
  z-index: 1;
  /* 컨텐트 영역만 먹는것 해결방법/ 기본은 content-box */
  box-sizing: border-box;
}
/* 이렇게 css파일에 넣어두고 개발 시작하면 편함 */
div {
  box-sizing: border-box;
}
/* body {
  margin: 0px;
} */
/* 브라우저마다 디자인이 다르게 보이는 문제 / button이나 input등등
해결방법: normalize.css 확인 
1. 아래서부터 쭈우욱 코드를 css 파일마다 복붙해놓기
2. css 코드 다운로드 받아놓고 index.html 파일에 <link>태그 하나 더 만들어서 href=""안에 연결*/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

input[type="text"] {
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 4px;
  outline: none;
}
